body {
    background-image: url('/csa/csa-images/box-background.jpg');
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
#list {
    
      margin-left: auto;
      margin-right: auto;
      font-family: 'Nothing You Could Do', cursive;
      text-align: center;   
      outline: none;
      border-radius: 7px;
      font-size: 20px;
    }
    
   button {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    outline: none;
    background: whitesmoke;
    color: rgb(3, 3, 3);  
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
   }

    button:hover {
      font-size: 25px; 
      outline: none;
      color: rgb(3, 3, 3);
      text-decoration: underline;
    }

    button::before {
      content: url(/csa/csa-images/checkmark.png);
      
    }

    #pictureBox {
      display: block;
      width: 650px;
      height: 391px;
      position: relative;
      background-image:url('/csa/csa-images/basket.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: fill;
    }

    #resultBox {
      position: center;
      display: block;
      width: 525px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
      padding-top: 35px;
      padding-right: 10px;
      padding-left: 30px;
    }

    @media only screen and (max-width: 500px) {
    
    #pictureBox {
      display: block;
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      position: fill;
      background-image:url('/csa/csa-images/basket-1.png');
      }

    #resultBox {
      margin-left: auto;
      margin-right: auto;
      position: center;
      display: block;
      width: 250px;
      height: 450px;
      padding-bottom: 5px;
    } 
  }